.btn-primary {
    margin-left: 16px;
    text-decoration: none;
    background-color: #2f348e;
    border-color: #3953a4;
    border-radius: 9px;
    --bs-btn-hover-color: #dac62a;
    --bs-btn-hover-bg: #3953a4;
    --bs-btn-hover-border-color: #3953a4;
}

.section button {
    margin: auto;
    margin-bottom: 15px;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #2f348e;
    border-color: #3953a4;
    border-radius: 9px;
}

.section button:hover {
    color: #dac62a;
    background-color: #2f348e;
    border-color: #3953a4
}

.btn-secondary {
    margin-left: 15px;
    margin-bottom: 15px;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #2f348e;
    border-color: #3953a4;
    border-radius: 9px;
    --bs-btn-hover-color: #dac62a;
    --bs-btn-hover-bg: #3953a4;
    --bs-btn-hover-border-color: #3953a4;
}