.bannerContainer {
    height: 200px;
    width: 100%;
}

.bannerImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section {
    max-height: 500px;
    margin-top: 20px;
    overflow: hidden;
}

.endSection {
    margin-bottom: 20px;
}

.thirds {
    display: inline-block;
    width: 33.33%;
}

.homeCards {
    margin: auto;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}